.sidenav{
height: 100%;
width: 20%;
position: fixed;
top: 0px;
left: 0px;
background-color: red;
overflow-x: hidden;
}

.room{
    padding: 6px 8px 6px 16px;
    font-size: 25px;
    color: #0f0303;
    display: block;
}

.roomicon{
    height: 25px;
    width: 25px;
    background-color: seagreen;
    border-radius: 25%;
    display: inline-block;
}