body {
  margin: 0;
  padding: 0;
}

.side-bar {
  height: 100%;
  width: 260px;
  background-color:white;
  position: fixed;
}
/* card of side-bar */
.card {
  background-color: #e44c3c;
  width: 100%;
  height: 150px;
  padding-top: 0;
  border-radius: 0px 0px 8px 8px;
}

/*container of title of company*/
.office-name {
  position: relative;
  top: 20px;
  left: 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* logo */
.sideheaderimg {
  padding-top: 10px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*company name*/
.room-name {
  font-size: 16;
  color: white;
  flex-grow: 2;
  flex-wrap: wrap;
  display: inline-block;
  width: 60%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*drop down icon*/
.but-arrow {
  display: inline-block;
  width: 40%;
  flex-grow: 1;
  color: white;

  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

/* container below card of side bar*/
.flex-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 0;
}

/*status row container*/
.status-bar {
  display: inline-block;
  height: 20px;
  width: 100%;
  position: relative;
  top: 25px;
  margin-left: 30px;
}

/*status row child*/
.status {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
}

/*icon of status*/
.dot {
  border-radius: 50%;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  background-color: greenyellow;
}

/*Status text*/
.text {
  font-size: 16px;
}

/*Room title*/
.channel-title {
  margin-top: 15px;
  font-size: 16px;
  font: bold;
}

.sidecont {
  padding: 30px;
  font-size: 14px;
  color: black;
}

/* Icon per Room */
.roomicon {
  height: 15px;
  width: 15px;
  background-color: seagreen;
  border-radius: 25%;
  display: inline-block;
}

/* List of Rooms in Sidebar */
ul {
  margin: 0;
  padding: 0;
  line-height: 25px;
}

li {
  margin-top: 10px;
  cursor: pointer;
}

/*left-side*/
.main {
  margin-left: 260px;
  background-color: #4ebc6d;
  height: 100%;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.office {
  z-index: 1;
  position: relative;
  height: 600px;
  width: 1000px;
  background-color: white;
}

.room{
  height: 600px;
  width: 1000px;
}

/* footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 1276px;
  margin-left: 260px;
  background-color: #f3d25b;
  text-align: center;
}

table{
  width: 100%;
}

.left-cell{
  text-align: center;
}

.right-cell{
  text-align: center;
}

/* .footer-button
{
    display: block;
    position: relative;
    top: 100px;
} */

.btn {
  background-color: #f3d25b;
  border: none;
  color: #e44c3c;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.people {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -2px 4px;
}

.avatar {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
